@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body, html{
    background-color: white;
    overflow-x: hidden;
    width: 100%;
}

#teste{
    
    width: 100vw;
    height: 110px;
}

header{
    margin: auto;
    width: 1250px;
    height: 110px;
    background-color: #84c435;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

header > h1{
    text-align: center;
    color: #1c3c2c;
    text-shadow: 2px 2px #25413a22;

    padding: 10px;
    margin: 0px;
    flex-grow: 1;
}

header > img{
    width: 130px;
    height: 130px;
}

nav{
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
}

nav > a{
    text-align: center;
    text-decoration: none;

    border-radius: 10px;

    display: block;
    padding: 10px;
    margin: 5px;

    color: #1c3c2c;
}

nav > a:hover{
    background-color: darkgoldenrod;
}

